 .wrapper {
    display: flex;  
    flex-flow: row wrap;
  }
  .wrapper > * {
    flex: 1 100%;
  }
  
  @media all and (min-width: 800px) {
    .aside { flex: 1 0 0;}
    .ajustText{width: 90%;}
  }
  
  @media all and (min-width: 1024px) {
    .aside-2  { flex: 3 0px; }
    .aside-7  { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .aside-2 { order: 2; }
    .aside-3 { order: 3; } 
    .aside-4 { order: 4; }
    .aside-5 { order: 5; } 
    .aside-6 { order: 6; }
    .aside-7 { order: 7; } 
    .aside-8 { order: 8; }
    .aside-9 { order: 9; } 
    .aside-10 { order: 10; }
    .aside-11 { order: 11; }
    .aside-12 { order: 12; }
    .aside-13 { order: 13; }
    .aside-14 { order: 14; }
    .aside-15 { order: 15; }
  }
  
  